<!-- <div class="example-box" (dblclick)="showAlgro()" cdkDrag>
  Show Collaborative Filtering
</div> -->
<!-- header -->
<div class="min-h-[150px]">
  <div class="fixed z-50 w-full">
    <div class="flex h-[80px] z-[100] w-[100%] backgroud-cus items-center">
      <div class="flex w-[100%] mx-12 items-center justify-between">
        <a>
          <img
            (click)="navigate('/')"
            class="logo hover:cursor-pointer object-scale-down w-[250px] h-[50px]"
            src="../../../assets/logo/galaxyLogo.png"
            alt=""
          />
        </a>
        <div class="flex gap-[10px] items-center">
          <!--Youtube Button -->
          <button
            id="youtube"
            class="bg-white w-[24px] h-[24px] transform hover:-translate-y-1 border-2 rounded-full duration-500 text-red-500 border-red-500 hover:bg-red-500"
          >
            <i class="fab fa-youtube"></i>
          </button>
          <!--İnstagram Button -->

          <button
            id="instagram"
            class="border-2 w-[24px] h-[24px] hover:text-white hover:border-0 border-pink-500 bg-gradient-to-b hover:from-indigo-600 hover:via-pink-600 hover:to-yellow-500 min-w-wull bg-white text-pink-600 transform hover:-translate-y-1 rounded-full duration-500"
          >
            <i class="fab fa-instagram"></i>
          </button>
          <!--Facebook Button -->

          <button
            id="facebook"
            class="bg-white w-[24px] h-[24px] duration-500 border-2 border-blue-600 transform hover:-translate-y-1 rounded-full hover:bg-blue-600 text-blue-600"
          >
            <i class="fab fa-facebook-f"></i>
          </button>

          <!--Tiktok Button -->
          <button
            id="tiktok"
            class="bg-white w-[24px] h-[24px] transform hover:-translate-y-1 border-2 rounded-full duration-500 text-black border-black hover:bg-black"
          >
            <i class="fab fa-tiktok"></i>
          </button>

          <div
            class="text-white items-center gap-[20px] flex"
            data-target="#dropdown--menu-2"
            style="border-radius: 3px"
          >
            <div *ngIf="!dataClient.isLogin">
              <span
                (click)="login()"
                class="hover:cursor-pointer"
                style="font-size: 14px"
              >
                ĐĂNG NHẬP
              </span>
            </div>
            <ng-container *ngIf="dataClient.isLogin">
              <div
                [matMenuTriggerFor]="menu"
                class="hover:cursor-pointer flex gap-2"
              >
                <span class="text-white text-sm">Xin chào</span>
                <span class="text-red-600 text-sm">
                  {{ dataClient.name }}
                </span>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/manage']">
                    <i class="mr-2 fa-solid fa-list-check"></i>Quản lý
                  </button>
                  <button mat-menu-item>
                    <i class="mr-2 fa-solid fa-user"></i>Thông tin
                  </button>

                  <button mat-menu-item (click)="logout()">
                    <i class="mr-2 fa-solid fa-right-from-bracket"></i>Đăng xuất
                  </button>
                </mat-menu>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- nav -->
    <nav class="bg-black top-[10vh]">
      <div class="container">
        <div class="flex items-center justify-center h-16">
          <div class="flex items-center gap-5 w-[100%]">
            <button
              (click)="navigate('/')"
              class="cus-border nav-menu outline-none hover:text-orange-500 text-[14px] px-3 py-2 grow text-center"
            >
              PHIM
            </button>
            <button
              (click)="navigate('/show-time')"
              class="cus-border nav-menu outline-none hover:text-orange-500 text-[14px] px-3 py-2 grow text-center"
            >
              MUA VÉ
            </button>
            <button
              (click)="navReview()"
              class="cus-border nav-menu outline-none hover:text-orange-500 text-[14px] ou px-3 py-2 grow text-center"
            >
              REVIEW
            </button>
            <button
              class="cus-border nav-menu outline-none hover:text-orange-500 text-[14px] px-3 py-2 grow text-center"
            >
              SỰ KIỆN
            </button>
            <button
              class="hover:text-orange-500 nav-menu text-[14px] px-3 py-2 grow text-center"
            >
              GIÁ VÉ
            </button>
          </div>
        </div>
      </div>

      <div
        [hidden]="HideSubNav"
        id="menu"
        class="bg-black z-20 left-[50vh] p-2 w-[980px] absolute"
      >
        <div class="pb-[10px]">
          <div class="inline-block">
            <h5 class="text-white">
              <button
                class="hover:text-orange-500 hover:no-underline text-white"
              >
                PHIM ĐANG CHIẾU
              </button>
            </h5>
            <hr class="w-[50%] h-[3px] mt-1 bg-orange-500" />
          </div>

          <div class="flex overflow-x-auto pb-[25px] gap-[30px] px-7">
            <!-- item -->
            <div
              *ngFor="let item of dataMovie"
              (click)="review(item)"
              class="relative flex-cus"
            >
              <img
                class="w-[200px] h-[250px] object-cover"
                [src]="imageUrl + item.image"
                alt=""
              />
              <div
                class="absolute inset-0 bg-black opacity-0 hover:cursor-pointer hover:opacity-50 transition duration-300"
              ></div>
              <h5 class="text-white pt-[30px]">{{ item.name }}</h5>
            </div>
            <!-- item -->
          </div>
        </div>
      </div>
    </nav>
    <!-- nav -->
  </div>
</div>
<!-- header -->
