<div
  class="w-56 bg-black group text-white rounded-2xl overflow-hidden shadow-lg"
>
  <!-- Ảnh phim + Icon yêu thích -->
  <div class="relative">
    <img
      [src]="imageUrl + dataMovie.image"
      alt="Movie Poster"
      class="w-full h-80 object-cover hover:cursor-pointer transition-all duration-300 hover:brightness-50"
    />
    <div class="absolute top-2 opacity-70 left-2 bg-gray-800 p-2 rounded-lg">
      <span class="opacity-100 text-yellow-400 text-xl font-extralight">{{
        dataMovie.ageLimited
      }}</span>
    </div>
  </div>

  <!-- Nội dung Card -->
  <div class="p-3">
    <!-- Điểm số -->
    <div class="flex items-center hover:cursor-pointer text-yellow-400 text-sm">
      ⭐ 7.4
    </div>
    <!-- Tên phim -->
    <h3 class="text-sm group-hover:text-yellow-400 mt-1">
      {{ dataMovie.name }}
    </h3>

    <!-- Nút Mua véé -->
    <button
      (click)="redirect()"
      class="w-full flex items-center transition-all text-sm duration-300 justify-center mt-3 bg-gray-800 text-white py-2 rounded-lg hover:bg-gray-700"
    >
      <i class="fa-solid fa-ticket mr-3 fa-rotate-180"></i> Mua vé
    </button>

    <!-- Nút Trailer -->
    <button
      class="w-full flex items-center transition-all duration-300 text-sm justify-center mt-2 bg-gray-700 text-white py-2 rounded-lg hover:bg-gray-600"
    >
      ▶ Trailer
    </button>
  </div>
</div>
