<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Cấu hình reverse engineering -->
		<property name="hibernate.reveng.file">
			src/main/resources/hibernate.reveng.xml
		</property>
		<property name="hibernate.reveng.format_directory">
			src/main/java
		</property>
		<!-- Cấu hình các thuộc tính khác của Hibernate -->
		<!-- ... -->
	</session-factory>
</hibernate-configuration>
